.sellcar-main {
  width: 100%;
  height: 100%;
  background: #fff; }
  @media (max-width: 992px) {
    .sellcar-main .container {
      padding: 0; } }
  @media (max-width: 768px) {
    .sellcar-main .container {
      margin-top: 20px;
      min-width: 100%; } }
  .sellcar-main .sellcar {
    max-width: 1310px;
    height: 1080px;
    padding: 100px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 1200px) {
      .sellcar-main .sellcar {
        padding: 80px 0; } }
    @media (max-width: 992px) {
      .sellcar-main .sellcar {
        height: 100%;
        padding: 40px 10px; } }
    @media (max-width: 768px) {
      .sellcar-main .sellcar {
        padding: 50px 0;
        width: 100%;
        height: 100%; } }
    .sellcar-main .sellcar-top {
      font-weight: 600;
      font-size: 44px;
      line-height: 42px;
      text-align: center;
      color: #333333;
      margin-bottom: 80px; }
      @media (max-width: 1200px) {
        .sellcar-main .sellcar-top {
          font-size: 38px;
          line-height: 38px; } }
      @media (max-width: 992px) {
        .sellcar-main .sellcar-top {
          font-size: 38px;
          line-height: 38px;
          margin-bottom: 50px; } }
    .sellcar-main .sellcar-content {
      max-width: 1330px;
      height: 100%; }
      @media (max-width: 768px) {
        .sellcar-main .sellcar-content {
          width: 100%; } }
      .sellcar-main .sellcar-content--title {
        width: 100%;
        height: 90px;
        display: flex; }
        @media (max-width: 768px) {
          .sellcar-main .sellcar-content--title {
            min-width: 100%;
            padding: 0 5%; } }
        @media (max-width: 540px) {
          .sellcar-main .sellcar-content--title {
            padding: 0 3%; } }
        .sellcar-main .sellcar-content--title .title-col--one {
          width: 32%;
          height: 100%; }
          @media (max-width: 992px) {
            .sellcar-main .sellcar-content--title .title-col--one {
              width: 30%; } }
          @media (max-width: 768px) {
            .sellcar-main .sellcar-content--title .title-col--one {
              display: none; } }
        .sellcar-main .sellcar-content--title .title-col--two {
          width: 35%;
          height: 100%;
          background: #F7FCF7;
          border: 2px solid #BAE0BB;
          border-bottom: none;
          border-radius: 10px 10px 0 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 10px;
          margin-right: 10px; }
          @media (max-width: 768px) {
            .sellcar-main .sellcar-content--title .title-col--two {
              width: 50%; } }
        .sellcar-main .sellcar-content--title .title-col--three {
          width: 34%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid #EEEEEE;
          font-family: 'Exo 2';
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #333333; }
          @media (max-width: 992px) {
            .sellcar-main .sellcar-content--title .title-col--three {
              width: 35%;
              text-align: center; } }
          @media (max-width: 768px) {
            .sellcar-main .sellcar-content--title .title-col--three {
              width: 50%; } }
      .sellcar-main .sellcar-content--body {
        height: 105px;
        width: 100%;
        display: flex;
        color: #333333; }
        @media (max-width: 768px) {
          .sellcar-main .sellcar-content--body {
            flex-wrap: wrap;
            align-items: center;
            margin: 0 auto;
            padding: 0 3%;
            height: 100%; } }
        .sellcar-main .sellcar-content--body .body-col--one {
          height: 100%;
          width: 32%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          font-weight: 300;
          font-size: 18px;
          line-height: 22px; }
          @media (max-width: 992px) {
            .sellcar-main .sellcar-content--body .body-col--one {
              justify-content: start;
              width: 30%; } }
          @media (max-width: 768px) {
            .sellcar-main .sellcar-content--body .body-col--one {
              justify-content: center;
              height: 40px;
              font-size: 14px;
              width: 100%;
              padding: 0 5px;
              background: #ececec;
              opacity: 0.7;
              border: 1px solid #c9c9c9; } }
        .sellcar-main .sellcar-content--body .body-col--one::before {
          content: '';
          height: 100%;
          width: 10px;
          background: #F7FCF7;
          position: absolute;
          top: 0;
          right: -12px; }
          @media (max-width: 768px) {
            .sellcar-main .sellcar-content--body .body-col--one::before {
              display: none; } }
        .sellcar-main .sellcar-content--body .body-col--two {
          width: 35%;
          height: 100%;
          background: #F7FCF7;
          border: 2px solid #BAE0BB;
          border-top: 1px solid #EEEEEE;
          border-bottom: 1px solid #EEEEEE;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0 10px;
          margin-right: 10px;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          text-align: center; }
          @media (max-width: 768px) {
            .sellcar-main .sellcar-content--body .body-col--two {
              max-height: 100%;
              width: 50%;
              margin: 0;
              border: none;
              padding: 18px 5px; } }
          @media (max-width: 540px) {
            .sellcar-main .sellcar-content--body .body-col--two {
              max-height: 100%; } }
        .sellcar-main .sellcar-content--body .body-col--three {
          width: 34%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid #EEEEEE;
          position: relative;
          text-align: center;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px; }
          @media (max-width: 992px) {
            .sellcar-main .sellcar-content--body .body-col--three {
              width: 35%; } }
          @media (max-width: 768px) {
            .sellcar-main .sellcar-content--body .body-col--three {
              max-height: 120px;
              width: 50%;
              padding: 10px 5px;
              border-bottom: none; } }
          @media (max-width: 540px) {
            .sellcar-main .sellcar-content--body .body-col--three {
              max-height: 135px; } }
        .sellcar-main .sellcar-content--body .body-col--three::before {
          content: '';
          height: 102%;
          width: 10px;
          background: #F7FCF7;
          position: absolute;
          top: 0;
          left: -22px; }
          @media (max-width: 768px) {
            .sellcar-main .sellcar-content--body .body-col--three::before {
              display: none; } }
        .sellcar-main .sellcar-content--body .green-border {
          padding: 10px 16px;
          border: 1.5px solid #3A9C3E;
          border-radius: 8px;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color: #3A9C3E; }
        .sellcar-main .sellcar-content--body .gray-border {
          padding: 10px 16px;
          border: 1.5px solid #808080;
          border-radius: 8px;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color: #808080; }
      .sellcar-main .sellcar-content--footer {
        width: 100%;
        height: 45px;
        display: flex; }
        @media (max-width: 768px) {
          .sellcar-main .sellcar-content--footer {
            display: none; } }
        .sellcar-main .sellcar-content--footer .footer-col--one {
          height: 100%;
          width: 32%; }
          @media (max-width: 992px) {
            .sellcar-main .sellcar-content--footer .footer-col--one {
              width: 30%; } }
        .sellcar-main .sellcar-content--footer .footer-col--two {
          width: 35%;
          height: 100%;
          background: #F7FCF7;
          border: 2px solid #BAE0BB;
          border-radius: 0 0 10px 10px;
          border-top: none;
          margin-right: 10px;
          padding: 0 10px; }
        .sellcar-main .sellcar-content--footer .footer-col--three {
          width: 34%;
          height: 100%; }
          @media (max-width: 992px) {
            .sellcar-main .sellcar-content--footer .footer-col--three {
              width: 35%; } }

/*# sourceMappingURL=sellcar.css.map */
